@model CategoryTitleLinksComponent
@if (Model != null)
{
    @await Html.PartialAsync("~/Views/Shared/Components/Common/HeaderTitleStyle2.cshtml", new HeaderTitleComponent(Model.Title))
    if (Model.Links?.Any() == true)
    {
        <div class="row portfolio-list appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
            @foreach (var item in Model.Links)
            {
                <div class="col-sm-6 col-lg-3 mb-4">
                    @(
                        await Html.PartialAsync("~/Views/Shared/Components/Common/CategoryTitleMedia.cshtml", new CategoryTitleMediaComponent()
        {
            Id = item.Id,
            Title = item.Title,
            Href = item.Href,
            Media = item.Media,
                            @*   Group = new BaseMediaLinkModel(Model.Title, Model.Link?.Href), *@
        })
                        )

                </div>
            }
        </div>
    }
}