@model ArticleTitleMediaComponent
@if (Model != null)
{
    <div class="card bg-color-grey border-0">
        <div class="card-body p-1">
            <div class="product mb-0">
                <div class="product-thumb-info border-0">
                    <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                        Chi tiết
                    </a>
                    <a href="shop-product-sidebar-left.html">
                        <div class="product-thumb-info-image">
                            <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                        </div>
                    </a>
                </div>

                <div class="d-flex justify-content-between p-2">
                    <div>
                        @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                        <h3 class="text-3 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                    </div>
                </div>
                <ul class="list list-icons list-icons-sm mb-0">
                    <li><i class="fas fa-caret-right"></i><span class="text-2 text-color-grey">Loại sản phẩm: Contactor</span></li>
                    <li><i class="fas fa-caret-right"></i><span class="text-2 text-color-grey">Số cực: 3P</span></li>
                    <li><i class="fas fa-caret-right"></i><span class="text-2 text-color-grey">Dòng tiếp điểm: 9A</span></li>
                    <li><i class="fas fa-caret-right"></i><span class="text-2 text-color-grey">Tiếp điểm phụ: 1NO+1NC</span></li>
                </ul>
            </div>
        </div>
        <div class="card-footer bg-color-grey ">
            <a href="/" class="btn btn-xs btn btn-secondary text-1 text-uppercase float-start"><i class="fas fa-phone position-relative"></i> Liên hệ</a>
            <a href="/" class="btn btn-xs btn-primary text-1 text-uppercase btn-arrow-effect-1 float-end"> Chi tiết <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
}