@using web_client.Models.Htmls.Carousels
@{
    var carouselModel = ViewData["CarouselSettingModel"] as CarouselSettingModel;
}

<h2 class="font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">Đánh giá</strong> từ khách hàng</h2>
<div class="row">
    <div class="owl-carousel owl-theme dots-title dots-title-pos-2 mb-0" data-plugin-options="@Html.Raw(JsonHtmlHelper.ToJsonCamelCase(carouselModel?.Option))">
        <div>
            <div class="col">
                <div class="testimonial testimonial-primary">
                    <blockquote>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                    </blockquote>
                    <div class="testimonial-arrow-down"></div>
                    <div class="testimonial-author">
                        <div class="testimonial-author-thumbnail">
                            <img src="img/clients/client-1.jpg" class="rounded-circle" alt="" />
                        </div>
                        <p><strong>John Doe</strong><span>Okler</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col">
                <div class="testimonial testimonial-primary">
                    <blockquote>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.</p>
                    </blockquote>
                    <div class="testimonial-arrow-down"></div>
                    <div class="testimonial-author">
                        <div class="testimonial-author-thumbnail">
                            <img src="img/clients/client-1.jpg" class="rounded-circle" alt="" />
                        </div>
                        <p><strong>John Doe</strong><span>Okler</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>