@{
    var carouselModel = ViewData["CarouselModel"] as CarouselModel;
}

<div class="row">
    <div class="col">
        <hr class="solid my-5">
        <h4>Đánh giá từ khách hàng</h4>
    </div>
</div>

<div class="owl-carousel carousel-center-active-item-2` nav-style-4 mb-4 pb-3" data-plugin-options="@Html.Raw(JsonHtmlHelper.ToJsonCamelCase(carouselModel?.Option))">
    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">onealbs</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"I have purchased this template four times for different projects and will soon be purchasing my fifth. This options for this template are limitless and customer service is amazing!"</p>
    </div>
    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">mrmelton</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"This template is pure joy to work with and customize. Everything is designed so clearly and it just makes your life easier to design a site. Highly recommend."</p>
    </div>
    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">daniyal1997</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"This theme continues to blow my mind! I can't believe how many features and layouts that are included and yet how elegantly it's all executed underneath."</p>
    </div>
    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">alfvlx</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"The best template i had work on!!!!!"</p>
    </div>
    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">marcoss2009</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"The best theme in Themeforest. I like it because I can customize it without problems."</p>
    </div>
    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">moirajanetallen</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"Very impressed with the great customer support."</p>
    </div>

    <div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="author">
                <h4 class="text-5 mb-0">majstro7</h4>
                <span class="opacity-7">Themeforest User</span>
            </div>
            <span class="star-rating">
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
                <i class="fas fa-star text-color-dark"></i>
            </span>
        </div>
        <p class="mb-0">"Good code quality ! Very fast and good support ! I recommended it in 100% !"</p>
    </div>
</div>
