@model BasePagingModel<ProductTitleMediaComponent>
<div class="masonry-loader1 masonry-loader-showing1">
    <div class="row products product-thumb-info-list">
        @if (Model?.Items?.Any() == true)
            foreach (var item in Model.Items)
            {
                <div class="col-sm-6 col-lg-4 mb-2">
                    @await Html.PartialAsync("~/Views/Shared/Components/Common/ProductTitleMedia.cshtml", item)
                </div>
            }
    </div>

    @await Html.PartialAsync("~/Views/Shared/Components/Common/Paging.cshtml", ViewBag.paging as PagingComponent)
</div>