@{
    var pageModel = new PageModel() { Title = "Giới thiệu", Description = "Mô ta seo giới thiệu", BodyClassName = "p-about", MainClassName = "" }; ;
}
<h1>@(pageModel?.Title)</h1>

<p>Use this page to detail your site's privacy policy.</p>
