@using static web_client.Helpers.Shared.PredefineDataConst
@model BasePagingModel<ArticleTitleMediaComponent>
@inject ILayoutAppService _layout
@inject INewsAppService _newService
@inject INewsCategoryAppService _newCategoryService
@{
    var layoutData = await _layout.GetSystemConfigurationsAsync(new GetAllSystemConfigurationRequest());
    var aboutUs = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.SidebarAboutus, "Mô tả giới thiệu ngắn gọn...");

    var pageModel = new PageModel() { Title = "Tin tức", Description = "Mô ta seo tin tức", BodyClassName = "p-blog", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel(pageModel.Title,"/Home/Blog"),
    });

    var _newCategoryResponse = await _newCategoryService.GetAllAsync(CancellationToken.None);
    var sideBarCategoryModel = new CategoryTitleLinksComponent("Danh mục", _newCategoryResponse?.Data?.Select(x => new BaseCategoryItemModel()
    {
                Id = x.Id,
                Media = x?.Image?.Path,
                Title = x.Name,
                Href = string.Format(RouteConst.GetRoute(RouteConst.NewsCategory), x.PageKeyName),
    }).ToList());

    var newsFeatures = await _newService.GetFeatureAsync(3, CancellationToken.None);
    var sideBarArticleModel = new ArticleTitleLinksComponent("Bài viết nổi bật",newsFeatures?.Data?.Select(x=>new BaseArticleItemModel()
    {
                CreatedAt = x.CreatedAt,
                CreatedBy = new BaseMediaLinkModel($"{x.CreatedByModel?.Label}", $"{x.CreatedByModel?.Key}"),
                ShortDescription = x.ShortDescription,
                Group = new BaseMediaLinkModel($"{x.ParentIdModel?.Label}", $"{x.ParentIdModel?.Key}"),
                Href = string.Format(RouteConst.GetRoute(RouteConst.NewsDetail), x.PageKeyName),
                Media = x?.Image?.Path,
                Id = x.Id,
                Title = x.Name,
    }).ToList());
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/BreadcrumbStyle2.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3 order-lg-2">
            <aside class="sidebar">
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarCategoryTitleList.cshtml", sideBarCategoryModel))
                    </div>
                </div>

                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarArticleTitleList.cshtml", sideBarArticleModel))
                    </div>
                </div>

                @if (aboutUs?.HasValueString() == true)
                {
                    <div class="card card-border card-border-bottom bg-color-light mb-4">
                        <div class="card-body p-3">
                            @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarContentTitleLink.cshtml", new ContentTitleLinkComponent("Giới thiệu", aboutUs, new BaseCategoryItemModel("Tìm hiểu thêm", "#"))))
                        </div>
                    </div>
                }
            </aside>
        </div>
        <div class="col-lg-9 order-lg-1">
            <div class="blog-posts">
                @await Html.PartialAsync("~/Views/Shared/Components/Common/HeaderTitle.cshtml", new HeaderTitleComponent(pageModel.Title))
                <div class="row">
                    @if (Model?.Items?.Any() == true)
                        foreach (var item in Model.Items)
                        {
                            <div class="col-lg-4 mb-lg-0">
                                @await Html.PartialAsync("~/Views/Shared/Components/Common/ArticleTitleMediaStyle2.cshtml", item)
                            </div>
                        }
                </div>
                @await Html.PartialAsync("~/Views/Shared/Components/Common/Paging.cshtml", ViewBag.paging as PagingComponent)

            </div>
        </div>
    </div>

</div>