@{
    var pageModel = new PageModel() { Title = "Tin tức", Description = "Mô ta seo tin tức", BodyClassName = "p-blog-detail", MainClassName = "" }; ;
}
<h1>@(pageModel?.Title)</h1>

<p>Use this page to detail your site's privacy policy.</p>
