@{
    var pageModel = new PageModel() { Title = "Liên hệ", Description = "Mô ta seo liên hệ", BodyClassName = "p-contact", MainClassName = "" }; ;
}
<h1>@(pageModel?.Title)</h1>

<p>Use this page to detail your site's privacy policy.</p>
