@{
    ViewData["Title"] = "Home Page";
}

<div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
    <div class="col">
        <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark nav-lg" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
            <div>
                <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                    <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-1/top-10-noi-lam-viec.jpg" class="img-fluid border-radius-0" alt="">
                </div>
            </div>
            <div>
                <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                    <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-1/hanyoung-nux-1.jpg" class="img-fluid border-radius-0" alt="">
                </div>
            </div>
            <div>
                <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                    <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-1/top500-vrn.jpg" class="img-fluid border-radius-0" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="font-weight-semibold text-4 mb-3">Danh mục nổi bật</h4>
        <hr class="mt-0">
        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/bien-tan-se.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Biến tần Schneider</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/banner-2-nut-nhan.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Nút nhấn</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/banner-3-mcb.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Cầu dao tự động</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">
                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/se.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Công tắc, ổ cắm  thông minh</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/bien-tan-se.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Biến tần Schneider</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/banner-2-nut-nhan.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Nút nhấn</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-5">


<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>


<hr class="my-5">

<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>



<hr class="my-5">

<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>




<hr class="my-5">

<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

