@{
    ViewData["Page"] = new PageModel() { Title = "Trang chủ", Description = "Mô ta seo trang chủ", BodyClassName = "p-index", MainClassName = "" };
}
<section class="section section-default border-0 bg-color-grey-700">
    <div class="container">
        <div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
            <div class="col">
                <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark nav-lg" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
                    <div>
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-1/top-10-noi-lam-viec.jpg" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-1/hanyoung-nux-1.jpg" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-1/top500-vrn.jpg" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="row">
    <div class="col">
        <h4 class="font-weight-semibold text-4 mb-3">Danh mục nổi bật</h4>
        <hr class="mt-0">
        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/bien-tan-se.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Biến tần Schneider</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/banner-2-nut-nhan.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Nút nhấn</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/banner-3-mcb.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Cầu dao tự động</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">
                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/se.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Công tắc, ổ cắm  thông minh</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/bien-tan-se.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Biến tần Schneider</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">


                            <a href="/product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-2-sp/banner-2-nut-nhan.png">

                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="/Product" class="text-color-dark text-color-hover-primary">Nút nhấn</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-5">


<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>


<hr class="my-5">

<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>



<hr class="my-5">

<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>




<hr class="my-5">

<div class="row align-items-center">
    <div class="col-sm-3">
        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
            <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html" aria-label="">
                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <img src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" class="img-fluid border-radius-0" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Liên hệ</span>
                                <span class="thumb-info-type">Xem thêm</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-9">

        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>

                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">

                            <div class="product-thumb-info-badges-wrapper">
                                @* <span class="badge badge-ecommerce text-bg-success">Mới</span> *@
                                <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                            </div>

                            <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                Chi tiết
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image">
                                    <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                </div>
                            </a>
                        </div>


                        <div class="d-flex justify-content-between">
                            <div>
                                @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                            </div>
                        </div>

                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-semi-bold">Liên hệ</span>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col mb-4">
            <hr class="my-5">
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-lg-8">
            <h2 class="font-weight-normal text-7">Vì sao <strong class="font-weight-extra-bold">khách hàng</strong> chọn chúng tôi</h2>
            <p><span class="alternative-font">tên công ty</span> là nhà cung cấp thiết bị, giải pháp tự động hóa và tích hợp robot công nghiệp hàng đầu tại Việt Nam. Chúng tôi có hơn 200.000 sản phẩm được chỉ định là nhà phân phối của các thương hiệu: Schneider Electric, Autonics, Omron, Hanyoung, Patlite, LS, Delta, Siemens, Idec,...</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-support text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Đội ngũ nhân viên</h4>
                            <p class="mb-4">Đội ngũ nhân viên của <span class="alternative-font">tên công ty</span> chuyên nghiệp, trẻ đẹp. Được đào tạo từ những ....</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Phục vụ 24/7</h4>
                            <p class="mb-4">Luôn luôn lắng nghe và thấu hiểu, luôn luôn phục vụ khách hàng mọi lúc, mọi nơi....</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Uy tín và chất lượng</h4>
                            <p class="mb-4">Hơn 1000 khách hàng, đối tác của <span class="alternative-font">tên công ty</span> luôn tin tưởng vì....</p>
                        </div>
                    </div>

                  

                </div>
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-screen-desktop text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Sản phẩm chính hãng</h4>
                            <p class="mb-4">Với lương tâm của một con người, <span class="alternative-font">tên công ty</span> xin cam kết sản phẩm chính hãng</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Giá cả phải chăng</h4>
                            <p class="mb-4">Vì mục đích và nhu cầu của quý khách hàng là ưu tiên hàng đầu của chúng tôi, thế nên giá cả cũng phải...</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Hoàn trả 100%</h4>
                            <p class="mb-4">Vì mục đích và nhu cầu của khách hàng là ưu tiên hàng đầu...</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="font-weight-normal text-6">Về chúng tôi</h2>

            <div class="accordion accordion-modern" id="accordion">
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseOne">
                                <i class="icons icon-diamond text-color-primary"></i>
                                Địa chỉ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body text-2">
                            <ul class="list list-icons list-icons-style-3">
                                <li><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> Melbourne, 121 King St, Australia</li>
                                <li><i class="fas fa-phone"></i> <strong>Phone:</strong> (123) 456-789</li>
                                <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="/cdn-cgi/l/email-protection#cea3afa7a28eabb6afa3bea2abe0ada1a3"><span class="__cf_email__" data-cfemail="b3ded2dadff3d6cbd2dec3dfd69dd0dcde">[email&#160;protected]</span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo">
                                <i class="icons icon-bubble text-color-primary"></i>
                                Liên hệ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="card-body text-2">
                            <p>Contact us or give us a call to discover how we can help.</p>
                            <form class="contact-form" action="php/contact-form.php" method="POST">
                                <div class="contact-form-success alert alert-success d-none mt-4">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>
                                <div class="contact-form-error alert alert-danger d-none mt-4">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block"></span>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Full Name</label>
                                        <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Email Address</label>
                                        <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Message</label>
                                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <input type="submit" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseThree">
                                <i class="icons icon-grid text-color-primary"></i>
                                Thời gian làm việc
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="card-body text-2">
                            <ul class="list list-icons list-dark">
                                <li><i class="far fa-clock"></i> Monday - Friday - 9am to 5pm</li>
                                <li><i class="far fa-clock"></i> Saturday - 9am to 2pm</li>
                                <li><i class="far fa-clock"></i> Sunday - Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="solid my-5">

    <div class="row text-center pt-4">
        <div class="col">
            <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
                <span>Hơn 1000 </span>
                <span class="word-rotator-words bg-primary">
                    <b class="is-visible">khách hàng</b>
                    <b>nhà phân phối</b>
                    <b>đại lý</b>
                </span>
                <span> của chúng tôi</span>
            </h2>
            @* <h4 class="text-primary lead tall text-4">50,000 CUSTOMERS IN 100 COUNTRIES USE PORTO TEMPLATE. MEET OUR CUSTOMERS.</h4> *@
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/uploads/logo-web-02-1.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-23.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-24.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-25.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-26.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-27.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-28.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-29.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-38.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-40.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-30.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-31.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-32.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-33.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-34.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-35.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-36.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-37.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-41.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-39.png" alt="">
            </div>
        </div>
    </div>

</div>

<!-- new feature and  testimonial-->
<section class="section section-custom-map appear-animation lazyload" data-appear-animation="fadeInUpShorter" data-src-bg="img/map.png" style="background-color: transparent; background-position: center 0; background-repeat: no-repeat;">
    <section class="section section-default section-footer">
        <div class="container">
            <div class="row mt-5 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="col-lg-6">
                    <div class="recent-posts mb-5">
                        <h2 class="font-weight-normal text-6 mb-4">Tin tức <strong class="font-weight-extra-bold">nổi bật</strong> </h2>
                        <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">15</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">14</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">13</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">12</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">11</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">10</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @await Component.InvokeAsync("Testimonial", new ViewComponentRequestModel<CarouselModel>(new CarouselModel
               {
                   Option = new CarouselOptionModel
                   {
                       Items = 1,
                       Nav = false
                   }
               }, "Blockquote"))

                </div>
            </div>
        </div>
    </section>
</section>

@await Component.InvokeAsync("Testimonial", new ViewComponentRequestModel<CarouselModel>(new CarouselModel
{
    Option = new CarouselOptionModel
    {
        Items = 3,
        Nav = false
    }
}))