@{
    ViewData["Page"] = new PageModel() { Title = "Trang chủ", Description = "Mô ta seo trang chủ", BodyClassName = "shop p-index", MainClassName = "" };

    var bannerModel = ViewData["HomeBannerSliderDataModel"] as List<BaseCarouselItemModel>;
    var testimonialModel = new List<BaseCarouselItemModel>();
}
<div class="container">
    <div class="row">
        <div class="col">
            @await Component.InvokeAsync("Carousel", new ViewComponentModel<CarouselSettingModel, List<BaseCarouselItemModel>>(new CarouselSettingModel
       {
           AppearAnimation = "fadeInDownShorter",
           AppearAnimationDelay = 500,
           Option = new CarouselSettingOptionModel
           {
               Items = 1,
               Nav = true,
               AnimateOut = "animateOut",
               Dots = false,
               Loop = true,
           }
       }, bannerModel))
        </div>
    </div>
</div>

<!-- danh mục sản phẩm-->
<div class="container">
    <div class="row">
        <div class="col">

            <div class="my-0 lightbox appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
                <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 35, 'loop': false}">

                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="portfolio-item">
                            <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                                <span class="thumb-info-wrapper border-radius-0">

                                    <img alt="" class="img-fluid border-radius-0" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" />
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">Biến tần Schneider</span>
                                        <span class="thumb-info-type">Hàng Việt Nam, Nhật Bổn...</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <a href="portfolio-single-wide-slider.html">
                                            <span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
                                        </a>
                                    </span>
                                </span>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<!-- sản phẩm-->
<div class="container">
    @for (int i = 0; i < 3; i++)
    {
        <div class="card mb-4">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-sm-3  pe-0">
                        <div class="card border-0 border-radius-0 bg-color-primary text-center h-100">
                            <div class="card-body align-items-center p-0">
                                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/banner-danh-muc/gv2me326-new.png" alt="Card Image">
                                <h4 class="card-title mt-3 text-4 font-weight-bold text-light">Biến tần</h4>

                                @* <a href="#" class="btn btn-primary btn-modern">Liên hệ</a> *@
                            </div>
                            <div class="card-footer bg-color-grey text-1 text-uppercase">
                                <a href="/" class="read-more text-color-primary font-weight-semibold text-3">Xem thêm<i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 pt-2">
                        <h4 class="mb-3">Biến tần</h4>
                        <div class="products row">
                            <div class="col">
                                <div class="owl-carousel owl-theme show-nav-title nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false,'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 3}, '1200': {'items': 4}}, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true}">
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        <div class="product mb-0">
                                            <div class="product-thumb-info border-0 mb-3">

                                                @*  <div class="product-thumb-info-badges-wrapper">
                                                    <span class="badge badge-ecommerce text-bg-success">Mới</span>
                                                    <span class="badge badge-ecommerce text-bg-danger">Giảm 27%</span>
                                                </div>
 *@
                                                <a href="/Product" class="quick-view text-uppercase font-weight-semibold text-2">
                                                    Chi tiết
                                                </a>
                                                <a href="shop-product-sidebar-left.html">
                                                    <div class="product-thumb-info-image">
                                                        <img alt="" class="img-fluid" src="https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg">

                                                    </div>
                                                </a>
                                            </div>

                                            <div class="d-flex justify-content-between mb-2">
                                                <div>
                                                    @* <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">accessories</a> *@
                                                    <h3 class="text-3 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">Contactor LC1D09M7 Schneider</a></h3>
                                                </div>
                                            </div>
                                            <ul class="list list-icons list-icons-sm">
                                                <li><i class="fas fa-caret-right"></i> Loại sản phẩm: Contactor</li>
                                                <li><i class="fas fa-caret-right"></i> Số cực: 3P</li>
                                                <li><i class="fas fa-caret-right"></i> Dòng tiếp điểm: 9A</li>
                                                <li><i class="fas fa-caret-right"></i> Tiếp điểm phụ: 1NO+1NC</li>
                                            </ul>
                                            <p class="price text-5 mb-3">

                                                <a href="#" class="btn btn-secondary text-decoration-none">Liên hệ</a>

                                            </p>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Tin mới nhất -->

<div class="bg-color-grey-100">
    <div class="container py-5">
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-lg-4 mb-5 mb-lg-0">

                    <article class="post">
                        <div class="card rounded-3 border-0 bg-transparent box-shadow-10 box-shadow-1 box-shadow-1-hover anim-hover-translate-top-10px transition-3ms">
                            <div class="p-relative rounded-3 overflow-hidden">
                                <a href="blog-post.html" class="text-decoration-none">
                                    <img class="card-img-top" src="https://img.hoplongtech.com/hoplong/uploads/bac-my-tang-toc-tu-dong-hoa-580-trieu-usd-do-vao-robot-trong-quy-i-2025-4.jpg" alt="Card Image">
                                </a>
                                <div class="card-body bg-light p-4">
                                    <span class="badge badge-dark badge-sm rounded-pill text-uppercase me-1">Tự động hóa</span>
                                    <h4 class="my-2"><a href="blog-post.html" class="text-decoration-none">Bắc Mỹ tăng tốc tự động hóa, 580 triệu USD đổ vào robot trong quý I/2025</a></h4>
                                    <p class="card-text mb-1">Các doanh nghiệp Bắc Mỹ đã chi hơn 580 triệu USD để mua 9.064 robot công nghiệp trong quý I/2025, cho thấy tốc độ đầu tư vào tự động hóa vẫn duy trì ổn định và có xu hướng gia tăng giá trị. Số liệu này vừa được Hiệp hội Tự động hóa Bắc Mỹ (A3) công bố tại triển lãm Automate 2025, tại Detroit, Mỹ..</p>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            }

        </div>
    </div>
</div>

<!-- Vì sao  chọn chúng tôi-->
<div class="container">
    <div class="row pt-5">
        <div class="col-lg-8">
            <h2 class="font-weight-normal text-7">Vì sao <strong class="font-weight-extra-bold">khách hàng</strong> chọn chúng tôi</h2>
            <p><span class="alternative-font">tên công ty</span> là nhà cung cấp thiết bị, giải pháp tự động hóa và tích hợp robot công nghiệp hàng đầu tại Việt Nam. Chúng tôi có hơn 200.000 sản phẩm được chỉ định là nhà phân phối của các thương hiệu: Schneider Electric, Autonics, Omron, Hanyoung, Patlite, LS, Delta, Siemens, Idec,...</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-support text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Đội ngũ nhân viên</h4>
                            <p class="mb-4">Đội ngũ nhân viên của <span class="alternative-font">tên công ty</span> chuyên nghiệp, trẻ đẹp. Được đào tạo từ những ....</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Phục vụ 24/7</h4>
                            <p class="mb-4">Luôn luôn lắng nghe và thấu hiểu, luôn luôn phục vụ khách hàng mọi lúc, mọi nơi....</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Uy tín và chất lượng</h4>
                            <p class="mb-4">Hơn 1000 khách hàng, đối tác của <span class="alternative-font">tên công ty</span> luôn tin tưởng vì....</p>
                        </div>
                    </div>



                </div>
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-screen-desktop text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Sản phẩm chính hãng</h4>
                            <p class="mb-4">Với lương tâm của một con người, <span class="alternative-font">tên công ty</span> xin cam kết sản phẩm chính hãng</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Giá cả phải chăng</h4>
                            <p class="mb-4">Vì mục đích và nhu cầu của quý khách hàng là ưu tiên hàng đầu của chúng tôi, thế nên giá cả cũng phải...</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Hoàn trả 100%</h4>
                            <p class="mb-4">Vì mục đích và nhu cầu của khách hàng là ưu tiên hàng đầu...</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="font-weight-normal text-6">Về chúng tôi</h2>

            <div class="accordion accordion-modern" id="accordion">
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseOne">
                                <i class="icons icon-diamond text-color-primary"></i>
                                Địa chỉ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body text-2">
                            <ul class="list list-icons list-icons-style-3">
                                <li><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> Melbourne, 121 King St, Australia</li>
                                <li><i class="fas fa-phone"></i> <strong>Phone:</strong> (123) 456-789</li>
                                <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="/cdn-cgi/l/email-protection#cea3afa7a28eabb6afa3bea2abe0ada1a3"><span class="__cf_email__" data-cfemail="b3ded2dadff3d6cbd2dec3dfd69dd0dcde">[email&#160;protected]</span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo">
                                <i class="icons icon-bubble text-color-primary"></i>
                                Liên hệ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="card-body text-2">
                            <p>Contact us or give us a call to discover how we can help.</p>
                            <form class="contact-form" action="php/contact-form.php" method="POST">
                                <div class="contact-form-success alert alert-success d-none mt-4">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>
                                <div class="contact-form-error alert alert-danger d-none mt-4">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block"></span>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Full Name</label>
                                        <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Email Address</label>
                                        <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Message</label>
                                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <input type="submit" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseThree">
                                <i class="icons icon-grid text-color-primary"></i>
                                Thời gian làm việc
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="card-body text-2">
                            <ul class="list list-icons list-dark">
                                <li><i class="far fa-clock"></i> Monday - Friday - 9am to 5pm</li>
                                <li><i class="far fa-clock"></i> Saturday - 9am to 2pm</li>
                                <li><i class="far fa-clock"></i> Sunday - Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="solid my-3">

    <div class="row text-center pt-4">
        <div class="col">
            <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
                <span>Hơn 1000 </span>
                <span class="word-rotator-words bg-primary">
                    <b class="is-visible">khách hàng</b>
                    <b>nhà phân phối</b>
                    <b>đại lý</b>
                </span>
                <span> của chúng tôi</span>
            </h2>
            @* <h4 class="text-primary lead tall text-4">50,000 CUSTOMERS IN 100 COUNTRIES USE PORTO TEMPLATE. MEET OUR CUSTOMERS.</h4> *@
        </div>
    </div>

    <div class="row text-center mt-1">
        <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/uploads/logo-web-02-1.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-23.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-24.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-25.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-26.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-27.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-28.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-29.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-38.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-40.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-30.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-31.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-32.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-33.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-34.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-35.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-36.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-37.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-41.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-39.png" alt="">
            </div>
        </div>
    </div>

</div>

<!-- new feature and  testimonial-->
<section class="section section-custom-map appear-animation lazyload mt-0 p-0" data-appear-animation="fadeInUpShorter" data-src-bg="img/map.png" style="background-color: transparent; background-position: center 0; background-repeat: no-repeat;">
    <section class="section section-default section-footer py-1">
        <div class="container">
            <div class="row mt-5 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="col-lg-6">
                    <div class="recent-posts mb-5">
                        <h2 class="font-weight-normal text-6 mb-4">Tin tức <strong class="font-weight-extra-bold">nổi bật</strong> </h2>
                        <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">15</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">14</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">13</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">12</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">11</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-6">
                                    <article>
                                        <div class="row">
                                            <div class="col-auto pe-0">
                                                <div class="date">
                                                    <span class="day font-weight-extra-bold">10</span>
                                                    <span class="month text-1">JAN</span>
                                                </div>
                                            </div>
                                            <div class="col ps-1">
                                                <h4 class="text-primary text-4"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @await Component.InvokeAsync("Testimonial", new ViewComponentModel<CarouselSettingModel, List<BaseCarouselItemModel>>(new CarouselSettingModel
               {
                   Option = new CarouselSettingOptionModel
                   {
                       Items = 1,
                       Nav = false
                   }
               }, "Blockquote"))

                </div>
            </div>
        </div>
    </section>
</section>
