@using static web_client.Helpers.Shared.PredefineDataConst
@model PageTitleMediaDetailComponent
@inject ILayoutAppService _layout
@{
    var layoutData = await _layout.GetSystemConfigurationsAsync(new GetAllSystemConfigurationRequest());
    var aboutUs = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.SidebarAboutus, "Mô tả giới thiệu ngắn gọn...");

    var pageModel = new PageModel() { Title = "Về chúng tôi", Description = "Mô ta seo trang", BodyClassName = "p-page-detail", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel("Về chúng tôi","/Home/PageDetail"),
    });
    var sideBarArticlePagesModel = new ArticleTitleLinksComponent("", new List<BaseArticleItemModel>()
    {
        new BaseArticleItemModel(Guid.NewGuid(),"Về chúng tôi","/Home/PageDetail","https://img.hoplongtech.com/hoplong/news/phan-biet-pnp-va-npn.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Chính sách dành cho Đại lý","/Home/PageDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Chính sách đổi / trả hàng và hoàn tiền","/Home/PageDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Quy định về điểm thưởng","/Home/PageDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Chính sách bảo hành","/Home/PageDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
    });
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <aside class="sidebar">

                @* <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarPageTitleList.cshtml", sideBarArticlePagesModel))
                    </div>
                </div> *@
                @if (aboutUs?.HasValueString() == true)
                {
                    <div class="card card-border card-border-bottom bg-color-light mb-4">
                        <div class="card-body p-3">
                            @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarContentTitleLink.cshtml", new ContentTitleLinkComponent("Giới thiệu", aboutUs, new BaseCategoryItemModel("Tìm hiểu thêm", "#"))))
                        </div>
                    </div>
                }
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2">

            <div class="blog-posts single-post">
                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                    <div class="card-body">
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/HeaderTitle.cshtml", new HeaderTitleComponent(Model?.Title ?? ""))
                        <div class="pb-1">
                            @Html.Raw(Model?.Content ?? "")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>