@{
    var pageModel = new PageModel() { Title = "Chính sách", Description = "Mô ta seo chính sách", BodyClassName = "p-privacy", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;

}
<h1>@(pageModel?.Title)</h1>

<p>Use this page to detail your site's privacy policy.</p>
