@model BasePagingModel<ProductTitleMediaComponent>
@inject IProductCategoryAppService _productCategoryAppService
@{
    var productCategoryResponse = await _productCategoryAppService.GetAllTopLevelAsync();
    var pageModel = ViewData["Page"] as PageModel ?? new PageModel()
            {
                Title = "Sản phẩm",
                Description = "Danh mục sản phẩm",
                BodyClassName = "p-product",
                MainClassName = "shop"
            };
    var categoryLink = new BaseLinkModel("Danh mục", Url.ActionLink("ProductCategory", "Home"));
    var productLink = new BaseLinkModel(pageModel.Title, Url.ActionLink("Product", "Home"));
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        categoryLink,
        productLink,
    });
    var sideBarCategoryModel = new CategoryTitleLinksComponent("Danh mục", productCategoryResponse?.Data?.Select(p => new BaseCategoryItemModel(p))?.ToList());

}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container limit">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <aside class="sidebar">
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarCategoryTitleList.cshtml", sideBarCategoryModel)
                    </div>
                </div>
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        <h4 class="card-title mb-1 text-4 font-weight-semi-bold">Bộ lọc</h4>
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarProductFilter.cshtml")
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2" id="productItems">
            @await Html.PartialAsync("~/Views/Shared/Components/Products/_ProductListPartial.cshtml", Model)
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            var pageLoad = {
                init: function () {
                      pageLoad.product.init(); // Call the product get method
                    // Initialize any page-specific scripts here
                     // $("#submitBtn").click();
                      $("#submitBtn").on("click", function (e) {
                            e.preventDefault();
                            pageLoad.product.get(); 

                        });
                    console.log("Page loaded and initialized.");
                },
                product: {
                    init: function () {
                        // Initialize product-specific scripts here
                        console.log("Product scripts initialized.");
                        pageLoad.product.get(); 
                    },
                    get: function () {
                        let form = $("#productSearchFrom");
                // Validate form fields if needed
                           let formData= form.serialize();
                           console.log("formData",formData);
                            $.ajax({
                                url: form.attr("action"),
                                type: form.attr("method"),
                                data: form.serialize(), // serialize form fields
                                success: function (response) {
                                    $("#productItems").html(response);
                                    // handle server response
                                    console.log(response);
                                },
                                error: function (xhr) {
                                    alert("Error: " + xhr.responseText);
                                }
                            });
                    }
                }
            }


            // init form
           // pageLoad.init();

        });
    </script>
}
