@model List<BaseCategoryItemModel>
@{
    var pageModel = new PageModel() { Title = "Danh mục", Description = "Mô ta seo sản phẩm", BodyClassName = "p-product-category", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel(pageModel.Title,"/Home/ProductCatogory"),
    });
    var categoriesModel = new CategoryTitleLinksComponent("Danh mục", Model);
});
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">

        @if (categoriesModel.Links?.Any() == true)
        {
            <div class="col">
                @foreach (var item in categoriesModel.Links)
                {
                    <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
                        <div class="card-body">
                            @(
                                await Html.PartialAsync("~/Views/Shared/Components/Common/CategoryLevelTitleMediaList.cshtml", new CategoryTitleLinksComponent()
                    {
                        Title = item.Title,
                        Link = item,
                        Links = item.Children,
                    })
                                )
                            <div class="row">
                                <div class="col col text-center">
                                    <a href="@item.Href" class="btn btn-modern btn-rounded btn-primary btn-outline btn-arrow-effect-1">Chi tiết <i class="fas fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    </div>

</div>