@model BasePagingModel<ProductTitleMediaComponent>
@inject IProductCategoryAppService _productCategoryAppService
@{
    var productCategoryResponse = await _productCategoryAppService.GetAllTopLevelAsync();
    var pageModel = ViewData["Page"] as PageModel ?? new PageModel()
            {
                Title = "Sản phẩm",
                Description = "Danh mục sản phẩm",
                BodyClassName = "p-product",
                MainClassName = "shop"
            };
    var categoryLink = new BaseLinkModel("Danh mục", Url.ActionLink("ProductCategory", "Home"));
    var productLink = new BaseLinkModel(pageModel.Title, Url.ActionLink("Product", "Home"));
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        categoryLink,
        productLink,
    });
    var sideBarCategoryModel = new CategoryTitleLinksComponent("Danh mục", productCategoryResponse?.Data?.Select(p => new BaseCategoryItemModel(p))?.ToList());
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container limit">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <aside class="sidebar">
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarCategoryTitleList.cshtml", sideBarCategoryModel)
                    </div>
                </div>
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        <h4 class="card-title mb-1 text-4 font-weight-semi-bold">Bộ lọc</h4>
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarProductFilter.cshtml")
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2">
            <div class="masonry-loader1 masonry-loader-showing1">
                <div class="row products product-thumb-info-list">
                    @if (Model?.Items?.Any() == true)
                        foreach (var item in Model.Items)
                        {
                            <div class="col-sm-6 col-lg-4 mb-2">
                                @await Html.PartialAsync("~/Views/Shared/Components/Common/ProductTitleMedia.cshtml", item)
                            </div>
                        }
                </div>

                @await Html.PartialAsync("~/Views/Shared/Components/Common/Paging.cshtml", ViewBag.paging as PagingComponent)
            </div>
        </div>
    </div>

</div>