@model CategoryTitleLinksDetailComponent
@{
    var pageModel = new PageModel() { Title = Model?.Title, Description = "Mô ta seo sản phẩm", BodyClassName = "p-product-category", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var categoryLink = new BaseLinkModel("Danh mục", Url.ActionLink("ProductCategory", "Home"));
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
       categoryLink,
        new BaseLinkModel(pageModel.Title),
    });
    var categoriesModel = new CategoryTitleLinksComponent(Model?.Title ?? "Danh mục", Model?.Links);
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">

        @if (categoriesModel.Links?.Any() == true)
        {
            <div class="col">
                <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
                    <div class="card-body">
                        @(
                            await Html.PartialAsync("~/Views/Shared/Components/Common/CategoryLevelTitleMediaList.cshtml", new CategoryTitleLinksComponent()
                    {
                        Title = Model?.Title,
                        Link = categoryLink,
                        Links = Model?.Links,
                    })
                            )

                    </div>
                </div>

            </div>
        }
    </div>

    <div class="row">
        <div class="col">
            <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            @{
                                var productsModel = new ProductTitleLinksComponent();
                                productsModel.Title = "Sản phẩm nổi bật";
                                productsModel.Links = new List<BaseProductItemModel>
                                ();
                                for (int x = 0; x < 5; x++)
                                {
                                    productsModel.Links.Add(new BaseProductItemModel()

                {
                    Id = Guid.NewGuid(),
                    Title = "Contactor LC1D09M7 Schneider  " + x + 1,
                    Price = x + 1,
                    Sale = x * 2 + 1,
                    Sku = "sku" + x + 1,
                    Href = "/Home/ProductDetail",
                    Media = "https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg",
                    Group = new BaseMediaLinkModel("Danh mục con", "/Home/Product"),
                    CreatedAt = CommonHelper.GetCurrent(),
                    DisplayContact = true,
                    DisplayPrice = false,
                    DisplaySale = true,
                    Attributes = new List<BaseAttributeItemModel>
                ()
                            {
                            new BaseAttributeItemModel("Loại sản phẩm", "Contactor", "product-type"),
                            new BaseAttributeItemModel("Số cực", "P", "number"),
                            new BaseAttributeItemModel("Dòng tiếp điểm","9A", "dong-tiep-dan"),
                            new BaseAttributeItemModel("Tiếp điểm phụ", "1NO+1NC", "tiep-diem-phu"),
                            }
                });
                                }
                            }
                            @await Html.PartialAsync("~/Views/Shared/Components/Common/SliderProductTitleListStyle3.cshtml", productsModel)

                            <div class="description mt-4">
                                <div data-plugin-readmore data-plugin-options="{'buttonOpenLabel' : 'Hiển thị <i class=\' fas fa-chevron-down text-2 ms-1\'> </i>','buttonCloseLabel': 'Thu gọn <i class=\'fas fa-chevron-up text-2 ms-1\'></i>'}">
                                    <div>
                                        @Html.Raw(Model?.Description)
                                        <div class="readmore-button-wrapper d-none text-center">
                                            <a href="#" class="text-decoration-none">
                                                Hiển thị
                                                <i class="fas fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
