@{
    var pageModel = new PageModel() { Title = "Sản phẩm", Description = "Mô ta seo sản phẩm", BodyClassName = "p-product", MainClassName = "" }; ;
}
<h1>@(pageModel?.Title)</h1>

<p>Use this page to detail your site's privacy policy.</p>
