@model BasePagingModel<ArticleTitleMediaComponent>
@{
    var pageModel = new PageModel() { Title = "Dịch vụ", Description = "Mô ta seo dịch vụ", BodyClassName = "p-service", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel(pageModel.Title,"/Home/Service"),
    });
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/BreadcrumbStyle2.cshtml", breadcrumbModel))
<div class="container py-4">
    @await Html.PartialAsync("~/Views/Shared/Components/Common/HeaderTitle.cshtml", new HeaderTitleComponent(pageModel.Title))
    <div class="row blog-posts">
        @if (Model?.Items?.Any() == true)
            foreach (var item in Model.Items)
            {
                <div class="col-lg-4 mb-lg-0">
                    @await Html.PartialAsync("~/Views/Shared/Components/Common/ArticleTitleMediaStyle3.cshtml", item)
                </div>
            }
    </div>
    @await Html.PartialAsync("~/Views/Shared/Components/Common/Paging.cshtml", ViewBag.paging as PagingComponent)
</div>