@{
    var pageModel = new PageModel() { Title = "Dịch vụ", Description = "Mô ta seo dịch vụ", BodyClassName = "p-service-detail", MainClassName = "" }; ;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseCategoryItemModel>()
    {
        new BaseCategoryItemModel("Trang chủ","/"),
        new BaseCategoryItemModel(pageModel.Title,"/Home/Service"),
        new BaseCategoryItemModel("Chi tiết","/Home/ServiceDetail"),
    }); 
    var sideBarArticlePagesModel = new ArticleTitleLinksComponent("Dịch vụ", new List<BaseArticleItemModel>()
    {
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 01","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/phan-biet-pnp-va-npn.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 11","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 21","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 31","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 41","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 51","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
    });
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <aside class="sidebar">

                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarPageTitleList.cshtml", sideBarArticlePagesModel))
                    </div>
                </div>
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarContentTitleLink.cshtml", new ContentTitleLinkComponent("Giới thiệu", "Hợp Long là nhà cung cấp thiết bị, giải pháp tự động hóa và tích hợp robot công nghiệp hàng đầu tại Việt Nam. Chúng tôi có hơn 200.000 sản phẩm được chỉ định là nhà phân phối của các thương hiệu: Schneider Electric, Autonics, Omron, Hanyoung, Patlite, LS, Delta, Siemens, Idec,...", new BaseCategoryItemModel("Tìm hiểu thêm", "#"))))
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2">
			
            <div class="blog-posts single-post">
				<div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
					<div class="card-body">
						@* <h4 class="card-title mb-1 text-4 font-weight-bold">Dịch vụ 11</h4> *@
						<div class="pb-1">

							<div class="row">
								<div class="col">
									<div class="overflow-hidden mb-3">
										<h2 class="font-weight-bold text-8 mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp">Dịch vụ 11</h2>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-10">
									<div class="overflow-hidden">
										<p class="lead mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="alternative-font">metus.</span> pulvinar. Sociis natoque penatibus et magnis dis parturient montes.
										</p>
									</div>
								</div>
								<div class="col-lg-2 appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="500">
									<a href="#" class="btn btn-modern btn-dark mt-1">Liên hệ</a>
								</div>
							</div>

							<hr class="solid mt-3 mb-3">

							<div class="row">
								<div class="featured-boxes featured-boxes-style-2">
									<div class="row">
										<div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
											<div class="featured-box featured-box-effect-4">
												<div class="box-content">
													<i class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
													<h4 class="font-weight-bold">Mobile Apps</h4>
													<p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
											<div class="featured-box featured-box-effect-4">
												<div class="box-content">
													<i class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
													<h4 class="font-weight-bold">Creative Websites</h4>
													<p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
											<div class="featured-box featured-box-effect-4">
												<div class="box-content">
													<i class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
													<h4 class="font-weight-bold">SEO Optimization</h4>
													<p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
											<div class="featured-box featured-box-effect-4">
												<div class="box-content">
													<i class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
													<h4 class="font-weight-bold">Brand Solutions</h4>
													<p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
											<div class="featured-box featured-box-effect-4">
												<div class="box-content">
													<i class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
													<h4 class="font-weight-bold">HTML5 / CSS3 / JS</h4>
													<p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
											<div class="featured-box featured-box-effect-4">
												<div class="box-content">
													<i class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
													<h4 class="font-weight-bold">Buttons</h4>
													<p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				

			
            </div>
        </div>
    </div>

</div>