@using static web_client.Helpers.Shared.PredefineDataConst
@model ArticleTitleMediaDetailComponent
@inject ILayoutAppService _layout
@inject IServiceAppService _service
@{
    var layoutData = await _layout.GetSystemConfigurationsAsync(new GetAllSystemConfigurationRequest());
    var aboutUs = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.SidebarAboutus, "Mô tả giới thiệu ngắn gọn...");

    var serviceAllResponse = await _service.GetAllAsync(CancellationToken.None);
    var sideBarArticlePagesModel = new ArticleTitleLinksComponent()
            {
                Title = "Dịch vụ",
                Links = serviceAllResponse?.Data?.Select(x => new BaseArticleItemModel()
                {
                    CreatedAt = x.CreatedAt,
                    CreatedBy = new BaseMediaLinkModel($"{x.CreatedByModel?.Label}", string.Format(RouteConst.GetRoute(RouteConst.AuthorDetail), x.CreatedByModel?.Key)),
                    ShortDescription = x.ShortDescription,
                    Group = new BaseMediaLinkModel($"{x.ParentIdModel?.Label}", string.Format(RouteConst.GetRoute(RouteConst.ServiceCategory), x.ParentIdModel?.Key)),
                    Href = string.Format(RouteConst.GetRoute(RouteConst.ServiceDetail), x.PageKeyName),
                    Media = x?.Image?.Path,
                    Id = x.Id,
                    Title = x.Name,
                }).ToList()
            };

    var relativeResponse = await _service.GetRelativeAsync(new GetCategoryDetailRelativeRequest(Model.Id), CancellationToken.None);
    var relativeModel = new ArticleTitleLinksComponent()
            {
                Title = "Dịch vụ khác",
                Links = relativeResponse?.Data?.Select(x => new BaseArticleItemModel()
                {
                    CreatedAt = x.CreatedAt,
                    CreatedBy = new BaseMediaLinkModel($"{x.CreatedByModel?.Label}", string.Format(RouteConst.GetRoute(RouteConst.AuthorDetail), x.CreatedByModel?.Key)),
                    ShortDescription = x.ShortDescription,
                    Group = new BaseMediaLinkModel(x.ParentIdModel?.Label, string.Format(RouteConst.GetRoute(RouteConst.ServiceCategory), x.ParentIdModel?.Key)),
                    Href = string.Format(RouteConst.GetRoute(RouteConst.ServiceDetail), x.PageKeyName),
                    Media = x?.Image?.Path,
                    Id = x.Id,
                    Title = x.Name,
                }).ToList()
            };

    var pageModel = new PageModel() { Title = Model?.Title, Description = "Mô ta seo dịch vụ", BodyClassName = "p-service-detail", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel("Dịch vụ", Url.ActionLink("Service", "Home")),
        new BaseLinkModel(pageModel.Title)
    });
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <aside class="sidebar">

                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarPageTitleList.cshtml", sideBarArticlePagesModel))
                    </div>
                </div>
                @if (aboutUs?.HasValueString() == true)
                {
                    <div class="card card-border card-border-bottom bg-color-light mb-4">
                        <div class="card-body p-3">
                            @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarContentTitleLink.cshtml", new ContentTitleLinkComponent("Giới thiệu", aboutUs, new BaseCategoryItemModel("Tìm hiểu thêm", "#"))))
                        </div>
                    </div>
                }
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2">

            <div class="blog-posts single-post mb-4">
                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                    <div class="card-body">
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/HeaderTitle.cshtml", new HeaderTitleComponent(Model?.Title, Model?.ShortDescription, true))
                        <div class="pb-1">
                            @Html.Raw(Model?.Content)
                            @*  <div class="row">
                                <div class="col-lg-9">
                                    <div class="overflow-hidden">
                                        <p class="lead mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="alternative-font">metus.</span> pulvinar. Sociis natoque penatibus.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                                    <a class="btn btn-outline btn-rounded btn-primary btn-with-arrow text-hover-primary mb-5 mb-lg-2 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100" href="#" style="animation-delay: 1100ms;">Liên hệ <span><i class="fas fa-chevron-right"></i></span></a>
                                </div>
                            </div>

                            <hr class="solid mt-3 mb-3">

                            <div class="row">
                                <div class="featured-boxes featured-boxes-style-2">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
                                                    <h4 class="font-weight-bold">Mobile Apps</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
                                                    <h4 class="font-weight-bold">Creative Websites</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
                                                    <h4 class="font-weight-bold">SEO Optimization</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
                                                    <h4 class="font-weight-bold">Brand Solutions</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
                                                    <h4 class="font-weight-bold">HTML5 / CSS3 / JS</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
                                                    <h4 class="font-weight-bold">Buttons</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        </div>

                    </div>
                </div>
            </div>

            <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
                <div class="card-body">
                    <div class="article-relative">
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/SliderArticleTitleListStyle3.cshtml", relativeModel)
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>