@model ArticleTitleMediaDetailComponent
@{
    var pageModel = new PageModel() { Title = "Dịch vụ", Description = "Mô ta seo dịch vụ", BodyClassName = "p-service-detail", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel(pageModel.Title,"/Home/Service"),
        new BaseLinkModel("Chi tiết","/Home/ServiceDetail"),
    });
    var sideBarArticlePagesModel = new ArticleTitleLinksComponent("Dịch vụ", new List<BaseArticleItemModel>()
    {
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 01","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/phan-biet-pnp-va-npn.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 11","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 21","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 31","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 41","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
        new BaseArticleItemModel(Guid.NewGuid(),"Dịch vụ 51","/Home/ServiceDetail","https://img.hoplongtech.com/hoplong/news/chi-tiet-cach-cai-dat-bien-tan-ig5a-ls.jpg",CommonHelper.GetCurrent()),
    });
}
@(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel))
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <aside class="sidebar">

                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarPageTitleList.cshtml", sideBarArticlePagesModel))
                    </div>
                </div>
                <div class="card card-border card-border-bottom bg-color-light mb-4">
                    <div class="card-body p-3">
                        @(await Html.PartialAsync("~/Views/Shared/Components/Common/SideBarContentTitleLink.cshtml", new ContentTitleLinkComponent("Giới thiệu", "Hợp Long là nhà cung cấp thiết bị, giải pháp tự động hóa và tích hợp robot công nghiệp hàng đầu tại Việt Nam. Chúng tôi có hơn 200.000 sản phẩm được chỉ định là nhà phân phối của các thương hiệu: Schneider Electric, Autonics, Omron, Hanyoung, Patlite, LS, Delta, Siemens, Idec,...", new BaseCategoryItemModel("Tìm hiểu thêm", "#"))))
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2">

            <div class="blog-posts single-post mb-4">
                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                    <div class="card-body">
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/HeaderTitle.cshtml", new HeaderTitleComponent(Model?.Title, Model?.ShortDescription, true))
                        <div class="pb-1">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="overflow-hidden">
                                        <p class="lead mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="alternative-font">metus.</span> pulvinar. Sociis natoque penatibus.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                                    <a class="btn btn-outline btn-rounded btn-primary btn-with-arrow text-hover-primary mb-5 mb-lg-2 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100" href="#" style="animation-delay: 1100ms;">Liên hệ <span><i class="fas fa-chevron-right"></i></span></a>
                                </div>
                            </div>

                            <hr class="solid mt-3 mb-3">

                            <div class="row">
                                <div class="featured-boxes featured-boxes-style-2">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
                                                    <h4 class="font-weight-bold">Mobile Apps</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
                                                    <h4 class="font-weight-bold">Creative Websites</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
                                                    <h4 class="font-weight-bold">SEO Optimization</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
                                                    <h4 class="font-weight-bold">Brand Solutions</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
                                                    <h4 class="font-weight-bold">HTML5 / CSS3 / JS</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
                                            <div class="featured-box featured-box-effect-4">
                                                <div class="box-content">
                                                    <i class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
                                                    <h4 class="font-weight-bold">Buttons</h4>
                                                    <p class="px-3">Lorem ipsum dolor sit amt, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
                <div class="card-body">
                    <div class="article-relative">
                        @{
                            var blogRelativesModel = new ArticleTitleLinksComponent()
            {
                Title = "Dịch vụ khác",
                Links = new List<BaseArticleItemModel>()
            };
                            for (int i = 0; i < 6; i++)
                            {
                                blogRelativesModel.Links.Add(new BaseArticleItemModel()
                {
                    Id = Guid.NewGuid(),
                    Title = "Tối ưu hóa hệ thống tủ điện với điện trở xả nhôm GABR – Giải pháp độc quyền từ Hợp Long và GIGA Electric " + i + 1,
                    ShortDescription = "Để xây dựng một hệ thống tủ điện hoạt động hiệu quả và bền bỉ, việc lựa chọn linh kiện chất lượng là yếu tố then chốt. Nắm bắt được nhu cầu này, Hợp Long tự hào là nhà phân phối độc quyền tại Việt Nam cho dòng sản phẩm điện trở xả nhôm GABR của thương hiệu GIGA Electric – một giải pháp tối ưu cho mọi ứng dụng công nghiệp hiện đại.",
                    CreatedAt = CommonHelper.GetCurrent(),
                    CreatedBy = new BaseMediaLinkModel("Nguyễn Văn A", "#"),
                    Group = new BaseMediaLinkModel("Sự kiện", "/Home/Service"),
                    Href = "/Home/ServiceDetail",
                    Media = "https://img.hoplongtech.com/hoplong/uploads/dot-pha-cong-nghe-ai-va-canh-tay-robot-dang-thay-doi-tung-cong-doan-trong-san-xuat-nong-nghiep-hien-dai.jpg"
                });
                            }
                        }
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/SliderArticleTitleListStyle3.cshtml", blogRelativesModel)
                    </div>
                </div>
            </div>
          
      
        </div>
    </div>

</div>